@mixin clearfix{
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MDEIA QUERY MANAGER
/*
0 - 600px :     Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800[ is where our normal styles apply
1800px + :      Big desktop

$breackpoint argument choices
- phone
-tab-pot
- tab-land
- big-desktop
*/
// 1em = 16px para mixin

@mixin reponde($breackpoint){
  @if $breackpoint == phone{
    @media (max-width: 37.5em){ @content};
  }
  @if $breackpoint == tab-port{
    @media (max-width: 56.25em){ @content};
  }
  @if $breackpoint == tab-land{
    @media (max-width: 75em){ @content};
  }
  @if $breackpoint == phone{
    @media (min-width: 112.5em){ @content};
  }
}